<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueying.backendapi.mapper.EventPlaceMapper">

    <resultMap id="BaseResultMap" type="com.yueying.backendapi.model.domain.EventPlace">
            <id property="placeId" column="place_id" jdbcType="BIGINT"/>
            <result property="placeName" column="place_name" jdbcType="VARCHAR"/>
            <result property="placeType" column="place_type" jdbcType="VARCHAR"/>
            <result property="placeAddress" column="place_address" jdbcType="VARCHAR"/>
            <result property="maxSeats" column="max_seats" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        place_id,place_name,place_type,
        place_address,max_seats,create_time,
        update_time,deleted
    </sql>
</mapper>
