<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueying.backendapi.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="com.yueying.backendapi.model.domain.Movie">
            <id property="movieId" column="movie_id" jdbcType="BIGINT"/>
            <result property="movieName" column="movie_name" jdbcType="VARCHAR"/>
            <result property="movieTypeId" column="movie_type_id" jdbcType="INTEGER"/>
            <result property="movieCoverSmall" column="movie_cover_small" jdbcType="VARCHAR"/>
            <result property="movieCoverLarge" column="movie_cover_large" jdbcType="VARCHAR"/>
            <result property="releaseDate" column="release_date" jdbcType="TIMESTAMP"/>
            <result property="movieDuration" column="movie_duration" jdbcType="TIME"/>
            <result property="mainActor" column="main_actor" jdbcType="VARCHAR"/>
            <result property="movieProfile" column="movie_profile" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        movie_id,movie_name,movie_type_id,
        movie_cover_small,movie_cover_large,release_date,
        movie_duration,main_actor,movie_profile,
        create_time,update_time,deleted
    </sql>
</mapper>
