<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueying.backendapi.mapper.MovieHallTypeMapper">

    <resultMap id="BaseResultMap" type="com.yueying.backendapi.model.domain.MovieHallType">
            <id property="typeId" column="type_id" jdbcType="BIGINT"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,type_name,create_time,
        update_time,deleted
    </sql>
</mapper>
