#header {
  background-color: #ffffff;
  height: 64px;
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
}

#content {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  margin: 10px;
}

#avatar {
  margin-left: 90%;
  cursor: pointer;
}
